html,
body,
#root {
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
}

$skyHeight: 80%;
$earthHeight: 20%;

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sky {
  background: #00271c;
  box-shadow: inset 0 0 400px #111111;
  height: $skyHeight;
  overflow: hidden;
  position: relative;
  .drop {
    background: white;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      #d8fff4 100%
    );
    height: 150px;
    position: absolute;
    width: 5px;
    border-radius: 5px;
  }
}

.earth {
  background: linear-gradient(#0d0902, black);
  height: $earthHeight;
  overflow: hidden;
  position: relative;
  .puddle {
    background: white;
    background: linear-gradient(to top, rgba(13, 9, 2, 0.2) 42%, #d8fff4 100%);
    height: 100px;
    position: absolute;
    width: 100px;
    border-radius: 100%;
  }
}

@for $i from 1 through 500 {
  $top: (random(50) + 50) * 1%;
  $left: random(200) * 0.5%;
  $dropOpacity: random(10) * 0.01;
  $puddleOpacity: 1 - (random(4) * 0.01);
  $delay: random(20) - 1s;
  $duration: random(6) + 1s;

  .sky .drop:nth-of-type(#{$i}) {
    animation-name: sky-drop-#{$i};
    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    left: $left;
    opacity: $dropOpacity;
    top: -50%;
  }

  @keyframes sky-drop-#{$i} {
    0% {
      opacity: $dropOpacity;
      top: -50%;
    }
    100% {
      opacity: 1;
      top: 100%;
    }
  }

  .earth .puddle:nth-of-type(#{$i}) {
    animation-name: earth-puddle-#{$i};
    animation-delay: ($duration + $delay) + ($duration * 0.0588);
    animation-duration: $duration;
    animation-iteration-count: infinite;
    left: calc(#{$left} - 50px);
    opacity: $puddleOpacity;
    top: -50px;
  }

  @keyframes earth-puddle-#{$i} {
    0% {
      transform: scale(0);
    }

    45% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
